# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Mac OS
.DS_Store

# Chroma vector store
chroma_speech/
chroma_small/
chroma_medium/
chroma_large/

# Results
testresults.json

# Notebooks (if any)
*.ipynb_checkpoints/
